
dosbox-*/**/*.o
dosbox-*/**/*.a
dosbox-*/**/Makefile
dosbox-*/config.h
dosbox-*/config.log
dosbox-*/autom4te.cache/
dosbox-*/config.status
dosbox-*/**/.deps
dosbox-*/stamp-h1
dosbox-*/src/dosbox
dosbox-*/src/dosbox.exe
dosbox-*/src/dosbox_heavydebug.exe



tools/find_magical_f_code
tools/find_magical_f_code.exe
tools/is_magical_asset
tools/is_magical_asset.exe
tools/superanalyze_mpeg_ps
tools/superanalyze_mpeg_ps.exe
tools/unlock_the_magic_mpeg_ps
tools/unlock_the_magic_mpeg_ps.exe
